#Logo_Orinoco{
    object-fit:cover;
     height:9em;
     margin:0 auto;padding:0;
}


.Header_fond{    
    width:100%;
    background-image:url('../Images/header_background.jpg') ;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:14vw;
}


html{
    font-size: 1vw;
}


.navbar .form-control{
    font-size: 2.7em;
}

.navbar .btn{
    font-size: 2.7em;
}

.navbar row{
    width:40%;
}

