

main{
    display: grid;
    grid-template-columns:4fr * 4fr;
    grid-template-rows:1fr;

    grid-template-areas: "resume vide destinataire";
    gap:50px;
}


.Panier{
    grid-area:resume;
    background-color: grey;
    border-radius: 25px;
    box-shadow: 1px;
    padding:0 5% 0 5%;

    & h1{
        text-align: center;
    }
}

.vide{
    grid-area:vide;
}

.Destinataire{
    grid-area:destinataire;
}


//####################
//card du panier
//####################


.card-horizontal{
    display:grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "photo titre prix";


    & img
    {
        grid-area: photo;
        object-fit: cover;
    }

    & h2
    {
        grid-area: titre;
        line-height: 4em;
        font-size: 2.2em;
    }
    & strong {
        grid-area: prix;
        line-height: 4em;
        font-size: 1.8em;
        font-weight: normal;
    }
}


//####################
//TOTAL de la commande
//####################


#ligneTotal{
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "labelTotal Total";

    & div{
        border:1px solid black;
    }

    & strong{
        border:1px solid black;
    }

    & .labelTotal{
        grid-area:labelTotal;
    }

    & #Total{
        grid-area: Total;
    }
}