

main{
    display: grid;
    grid-template-columns:3fr 0.8fr 3fr;
    grid-template-rows:1fr 8fr;

    grid-template-areas: "titre titre titre" "resume vide destinataire";
    gap:50px;
    width:90%;

        font-size: 100%;
}

@media screen and (max-width: 992px) {
main{
    width:90%;
    grid-template-columns:1fr;
    grid-template-rows:1fr 5fr 0.5fr 5fr;

    grid-template-areas: "titre" "resume" "vide" "destinataire";
    gap:10px;

        font-size: 250%;
}

}




.TitrePrincipal{
    grid-area:titre;
    text-align: center;
    font-size: 2.6em;
}


.Panier{
    grid-area:resume;
    background-color: grey;
    border-radius: 25px;
  
    padding:0 9% 0 9%;
    border:5px solid black;


    & h2{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 2em;
        
    }
}

 @media screen and (max-width: 992px) {
    .Panier{
        padding:0% 4% 0% 4%;
    }
 }

.vide{
    grid-area:vide;
}

.Destinataire{
    grid-area:destinataire;
    background-color: grey;
    border-radius: 25px;

    padding:0 7% 0 7%;
    border:5px solid black;

    & h2{
        
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 2em;        
    }
}

.form-control{
    font-size:1.2em;
}

.btn-validerpanier  {
    font-size: 1.2em;
    width:35%;
}


//####################
//card du panier
//####################

.card-body{
     position: relative;

     & h3{
         position: absolute;               
         top: 50%;                        
         transform: translate(0, -50%) ;
     }
}

.card-footer{
    position: relative;
    background-color: #D7DBDD;
    padding: 0.5em 0.5em;

     & strong{
         position: absolute;               
         top: 50%;                        
         transform: translate(0, -50%) ;
     }
}

.card-horizontal{
    display:grid;
    grid-template-columns: 1fr 1.2fr 0.6fr;
    grid-template-rows: 1fr;
    grid-template-areas: "photo titre prix";


    & img
    {
        grid-area: photo;
        object-fit: cover;
    }

    & h3
    {
        grid-area: titre;
       /*  line-height: 4em; */
        font-size: 1.6em;
    }
    & strong {
        grid-area: prix;
        /* line-height: 4em; */
        font-size: 0.9em;
        font-weight: normal;
        
    }
}


//####################
//TOTAL de la commande
//####################


#ligneTotal{
    display:grid;
    grid-template-columns: 2.2fr 0.6fr;
    grid-template-rows: 1fr;
    grid-template-areas: "labelTotal Total";
    border: 3px solid black;
    margin:0; padding:0;

    & div{
        border:1px solid black;
    }

    & strong{
        border:1px solid black;
        
    }

    & .labelTotal{
        grid-area:labelTotal;
        text-align: right;
    }

    & #Total{
        grid-area: Total;
        background-color: #D7DBDD;
    }
}


